.form-group.country_selectbox .btn-group, .form-group.country_selectbox .btn-group button, .form-group.country_selectbox .btn-group .multiselect-container {
    width: 100%;
}

.radio_isactive input[type=radio] {
    margin-left: 25px;
    margin-right: 10px;
    vertical-align: top;
}