.news-articles {
    margin-top: 30px;
    max-width: 1200px;
}

.news-articles .row {
    margin-bottom: 30px;
}

.news-articles h3 {
    margin-top: 0;
}

.news-articles .news-image img {
    width: 100%;
}

.ctable {
    width: 100%;
}

.ctable td {
    padding: 8px;
}

label.error {
    font-size: 80%;
    color: red;
}