/*multiselectbox style start*/

.form-group.country_selectbox .btn-group, .form-group.country_selectbox .btn-group button, .form-group.country_selectbox .btn-group .multiselect-container {
    width: 100%;
}

.radio_isactive input[type=radio] {
    margin-left: 25px;
    margin-right: 10px;
    vertical-align: top;
}

/*multiselectbox style end*/

/*google map style start*/
#map {
    width: 100%;
    height: 230px;
    margin-top: 10px;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#searchInput {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 50%;
}

#searchInput:focus {
    border-color: #4d90fe;
}

/*google map style end*/

/*drop dron style*/
.country_selectbox ul {
    height: 260px;
    overflow: auto;
}
